<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <!--  SEO STUFF START HERE -->
    <title>SciamLab Blog</title>
    <meta name="keywords" content="knowledge data management amaca wscm process open big opendata bigdata machine learning algorithm environment smart devices city waste ckan socrata">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="SciamLab Team">
    <meta name="robots" content="follow, index">
    <!--  SEO STUFF END -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <!--  revolution slider plugin : begin -->
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/rs-responsive.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/deckaner.css">
    <!--  revolution slider plugin : end -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/isotope.css">
    <link rel="stylesheet" href="/css/color_scheme.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome-ie7.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" -->
    <link href="/images/slab.ico" rel="shortcut icon">
    <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />        <![endif]-->
    <!-- Used by Google Plus -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <!-- g:page href="https://plus.google.com/103228027286969347186"></g:page -->
    <link href="https://plus.google.com/" rel="publisher" />
    
  </head>
  <body>
	<div id="wrap">
    <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
    <div class="top_line"></div>
    <!-- HEADER AREA -->
    <header>
	<div class="container">
		<div class="row">
            <!-- HEADER: LOGO AREA -->
            <div class="span4 logo"> <a class="logo" href="/"> <img alt="logo" title="SciamLab" src="/images/sciamlab_logo_small.png"> </a> </div>
            <div class="span5"><p class="header_text">Knowledge Data Management</p></div>
            <div class="span3">
                <div class="row">
                    <div class="header_lang">
                        <a href="#">EN</a>
                        <!--| 
                        <a href="#">ES</a>
                        | 
                        <a href="#">IT</a>-->
                    </div>
                </div>
                <div class="row">
                    <div id="header_socials">
                        <!-- HEADER: SOCIAL ICONS -->
                        <ul class="socials unstyled">
                            <li><a class="twitter" href="http://twitter.com/sciamlab"><span>link to twitter</span></a><br>
                            </li>
                            <li><a class="facebook" href="https://www.facebook.com/sciamlab.engineering"><span>link to facebook</span></a><br>
                            </li>
                            <li><a class="gplus" href="https://plus.google.com/103228027286969347186?prsrc=3" data-rel="publisher" target="_top"><span>link to gplus</span></a><br>
                            </li>
                            <li><a class="linkedin" href="https://www.linkedin.com/company/3279210" data-rel="publisher" target="_top"><span>link to linkedin</span></a><br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</div>

      <!-- HEADER: PRIMARY SITE NAVIGATION -->
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <div class="buttons-container"> </div>
              <div class="nav-collapse">
                <ul class="nav nav-pills">
                  <li id="menu_home" class="single"><a href="http://www.sciamlab.com/">HOME</a></li>
				  <li id="menu_products" class="dropdown"> <a href="http://www.sciamlab.com/products"> PRODUCTS </a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.sciamlab.com/opendatahub"> OpenDataHub</a></li>
					  <li><a href="http://www.sciamlab.com/products/amaca/"> Amaca</a></li>
                    </ul>
                  </li>
                  <li id="menu_services" class="single"> <a href="http://www.sciamlab.com/services"> SERVICES </a></li>
                  <li id="menu_blog" class="single"> <a href="#/"> BLOG</a></li>
                  <li id="menu_company" class="dropdown"> <a href="http://www.sciamlab.com/company/"> COMPANY </a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.sciamlab.com/company">About Us</a></li>
                      <li><a href="http://www.sciamlab.com/company/labs">Labs</a></li>
					  <li><a href="http://www.sciamlab.com/company/successstories">Success Stories</a></li>
                      <li id="menu_timeline" class="single"><a href="http://www.sciamlab.com/timeline.php">Timeline</a></li>
                      <li><a href="http://www.sciamlab.com/company/contact_us">Contacts</a></li>
                    </ul>
                  </li>
                </ul>
              </div> <!-- main menu div-->
              <!--
              <div class="nav-collapse pull-right">
                <ul class="nav nav-pills account avatar authed">
                    <li class="single" style="border-right:0px;">
                        <a href="http://www.sciamlab.com/opendatahub/user/login">Log in</a>
                    </li>
                </ul>
              </div>
              -->
            </div> <!-- menu container bar-->
          </div>
        </div>
      </div>
    </header>

